@charset "UTF-8";

@import 'components/variables-mixins';
@import 'components/normalize';
@import 'components/eleganticons';
@import 'components/utilities';
@import 'components/slick';
@import 'components/featherlight';
@import 'components/bootstrap';

body {
	font-size: 100%;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	color: $darkgray;
	background-color: white;
	position: relative;
	overflow-x: hidden;
}

::selection {
	background: rgba(44,62,102,0.75);
	color: white;
}
::-moz-selection {
	background: rgba(44,62,102,0.75);
	color: white;
}

h2 {
	font-size: 2.7em;
	font-weight: 300;

	@media only screen and (max-width : 767px) {
		font-size: 2em;
	}

	@media only screen and (max-width : 390px) {
		font-size: 1.8em;
	}
}

h3 {
	font-size: 1.9em;
	font-weight: 300;
	margin: 0 0 40px 0;
}

a{
	color: $darkgray;
	text-decoration: none;
}

.btn {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0 30px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	outline: 0;
	border: 0;
	cursor: pointer;
	@include hover;

	&.btn-intro {
		border: 2px solid white;
		color: white;
		margin-top: 15px;

		&:hover {
			background: white;
			color: $darkgray;
		}	
	}
	
	&.btn-success {
		background-color: $green;

		&:hover, &:focus {
			background-color: darken($green,8);
		}
	}
}






// HOME

.navbar-collapse {
	border-top: 1px;
}

.navbar-default {
	background-color: white;
	margin-bottom: 0px;
	min-height:	72px;
	border-radius: 0px;
	
	
	.dropdown-menu {
		font-size: 1em;

		@media only screen and (max-width : 767px) {
			padding-top: 0px;
			padding-bottom: 0px;
		}

		> li > a {
			padding-top: 5px;
			padding-bottom: 5px;
			
			@media only screen and (max-width : 767px) {
				color: white !important;
				background-color: darken($blue,8);
				

				// NO FUNCIONA!
				&:hover, &:focus {
					background-color: darken($blue,14) !important;
				}
			}
		}
	}

	&.navbar-blue {
		background-color: $blue;
		border: 0px !important;

		.navbar-nav {
			margin: 0 -15px;

			> li > a {
				color: white;
				@include hover;
				line-height: 24px;
				padding-left: 20px;
				padding-right: 20px;

				@media only screen and (max-width : 767px) {
					background-color: darken($blue,8);
				}

				&:hover {
					background-color: darken($blue,8);

					@media only screen and (max-width : 767px) {
						background-color: darken($blue,14);
					}
				}
			}
		}

		.navbar-nav > .open > a {
			color: white;
			background-color: darken($blue,8);
		}
	}


}

.navbar-nav .open .dropdown-menu > li > a {
	line-height: 26px;
}

.navbar-brand {
	padding: 17px 0 0 20px;
	height: 74px;
}

.navbar-nav > li > a {
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: 400;
	font-size: 1.1em;

	@media only screen and (max-width : 767px) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.navbar-toggle {
	margin-top: 21px;
	border: 0px;

	.icon-bar {
		background-color: $green !important;
	}

	&:hover, &:focus {
		background-color: transparent !important;
	}
}



.intro-jumbotron {
	background: black url(../img/intro-bg2.jpg) no-repeat 50% 58%;
	//background-size: cover;
	text-align: center;
	color: white;
	padding: 150px 0;
	margin: 0;

	img {
		padding-bottom: 30px;
	}
}



.services-home {
	h3 {
		font-size: 2.1em;
		margin: 0 0 20px 0;
	}

	h2 {
		margin: 0;
		padding: 60px 0 90px;
	}

	.service {
		background: #F2F2F2;
		padding: 40px 0;

		img {
			border-radius: 10px;
		}

		&.ftth {		
			
		}

		.btn {
			margin-top: 15px;
		}

		.col-sm-4 {
			@media only screen and (min-width : 768px) {
				padding-left: 0px;
			}
		}
			
		&.alt {
			background: white;

			.col-sm-4 {
				@media only screen and (min-width : 768px) {
					padding-left: 15px;
				}
			}

			.col-sm-8 {
				@media only screen and (min-width : 768px) {
					padding-left: 0px;
				}

				.container-fluid {
					padding-left: 0px;
				}
			}
		}
	}
}








// SERVICIOS

.service-section {
	.jumbotron {
		padding: 75px 0;
		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			font-size: 3em;
			color: white;
			padding-top: 100px;
		}
	}

	&.ftth {
		.jumbotron {
			background-image: url(../img/ftth-jumbotron.jpg);
			background-position: 100% 90%;
		}
	}
	&.infraestructura {
		.jumbotron {
			background-image: url(../img/infraestructura-jumbotron.jpg);
			background-position: 100% 100%;
		}
	}
	&.conexiones {
		.jumbotron {
			background-image: url(../img/conexiones-jumbotron.jpg);
			background-position: 100% 90%;
		}
	}
	
	&.cableado {
		.jumbotron {
			background-image: url(../img/cableado-jumbotron.jpg);
			background-position: 100% 100%;
		}
	}
	&.telefonia {
		.jumbotron {
			background-image: url(../img/telefonia-jumbotron.jpg);
			background-position: 0% 100%;
		}
	}
	&.videovigilancia {
		.jumbotron {
			background-image: url(../img/videovigilancia-jumbotron.jpg);
			background-position: 0% 100%;
		}
	}
}

.service-text {
	font-size: 1.1em;
	margin-top: 60px;
}

.service-pics {
	margin-top: 30px;
	margin-bottom: 30px;

	img {
		border-radius: 2px;
	}
}








// LA EMPRESA + CONTACTO

.nav-extend {
	.jumbotron {
		padding: 50px 0;
		background: $blue;

		h2 {
			font-size: 3em;
			color: white;
			padding-top: 100px;
		}
	}

	&.ftth {
		.jumbotron {
			background-image: url(../img/ftth-jumbotron.jpg);
			background-position: 100% 50%;
		}
	}
}

.google-map {
	border: 0;
	width: 100%;
	height: 400px;
}

.contact-form {
	input[type="text"], input[type="email"], input[type="tel"], textarea {
		width: 100%;
		display: block;
		padding: 6px 12px;
		border: 1px solid #D2D2D2;
		margin-bottom: 10px;
		outline: 0;
		@include hover;

		&:focus {
			border-color: $green;
		}
	}

	.btn {
		width: 100%;
		outline: 0;
	}

	textarea {
		height: 120px;
	}

	@media only screen and (min-width : 768px) {
		padding-left: 20px;
	}
	
	@media only screen and (max-width : 767px) {
		margin-bottom: 30px;
	}
}














// FOOTER

footer {
	background-color: $darkgray;
	padding: 40px 0 0 0;
	color: white;
	margin-top: 100px;

	a {
		color: white;
		@include hover;

		&:hover, &:focus {
			color: $green;
			text-decoration: none;
		}
	}

	.copy {
		background-color: darken($darkgray,4);
		padding: 15px 0;
		margin-top: 30px;

		p {
			margin: 0;
		}
	}
}

.footer-nav {
	font-size: 1.1em;
}