$gray: #373739;
$darkgray: #212121;
$blue: #2c3e66;
$green: #8ab54b;

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin hover {
  -webkit-transition: all 250ms;
  -moz-transition:    all 250ms;
  -o-transition:      all 250ms;
  transition:         all 250ms;
}

@mixin hover-medium {
  -webkit-transition: all 350ms;
  -moz-transition:    all 350ms;
  -o-transition:      all 350ms;
  transition:         all 350ms;
}

@mixin hover-slow {
  -webkit-transition: all 500ms;
  -moz-transition:    all 500ms;
  -o-transition:      all 500ms;
  transition:         all 500ms;
}